<!DOCTYPE html>
<html ng-app="tiempoApp">
<head>
	<title>Ejemplo de consulta del tiempo en AngularJS</title>
	<style>
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    	display: none !important;
     }
     .titulo {font-size: 3em;}
	</style>
</head>
<body ng-controller="tiempoCtrl as tiempo">
	<input type="text" ng-model="localidad">
	<button ng-click="tiempo.obtenerDatos()">Ver tiempo</button>
	<div id="datosTiempo" ng-cloak>
		<div class="titulo">{{localidad}}</div>
		<div>{{estado}}</div>
		<img src={{icono}} width="200">
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script>
    var BASE_URL = 'https://api.openweathermap.org/data/2.5/weather?APPID=1adb13e22f23c3de1ca37f3be90763a9&units=metric&lang=es&q='	
    var BASE_ICON_URL = 'https://openweathermap.org/img/w/'	
 
	var tiempoApp = angular.module('tiempoApp', []);
	tiempoApp.controller('tiempoCtrl', function ($scope, $http) {

		this.obtenerDatos = function() {
			$http.get(BASE_URL+$scope.localidad)
				.success(function(data){
					$scope.estado = data.weather[0].description;
					$scope.icono = BASE_ICON_URL + data.weather[0].icon + '.png'
				})

		}
	});
	</script>
</body>
</html>